[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
pillow = "*"
opencv-python = "*"
tensorflow = "*"
unidecode = "*"
pyaudio = "*"
imutils = "*"
librosa = "*"
pandas = "*"
keras = "*"
matplotlib = "*"
resampy = "*"
speechbrain = "*"

[dev-packages]

[requires]
python_version = "3.11"
